/* div{
    border: red 1px solid;
} */

#head{
    height: 275px;
}

#head-1{
    height: 200px;
    background-color: black;
}

#headImg{
    width: 150px;
    height: 150px;
    position: relative;
    top:100px;
    left: 200px;
}
.itemDiv{
    margin-bottom: 100px;
}

.fontSize_1{
    font-size: 20px;
    font-family: Microsoft Yahei;
}

#QrImg{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 100px;
    bottom: 100px;
}

.concatImg{
    width: 150px;
    height: 150px;
    display: block;
    margin-top: 10px;
    border: 1px black solid;
}

.item{
    width: 50px;
    height: 50px;
}

.ContactDiv{
    text-align: center;
    width: 150px;
    margin-left: 100px;
    display: inline-block;
}

.QrDiv{
    width: 50px;
    height: 50px;
    right: 100px;
    bottom: 100px;
    position: fixed;
}

.pad{
    padding: 0;
}

ul{
margin-left: 150px;
}

h1,h2,h3,h4,h5{
    text-align:center;
}

