/* div{
    border: red 1px solid;
} */

#head{
    height: 275px;
}

#head-1{
    height: 200px;
    background-color: black;
}

#headImg{
    width: 150px;
    height: 150px;
    position: relative;
    top:100px;
    left: 200px;
}


.fontSize_1{
    font-size: 20px;
    font-family: Microsoft Yahei;
}

#QrImg{
    position: fixed;
    width: 200px;
    height: 200px;
    right: 100px;
    bottom: 100px;
    border: 1px black solid;
}

.QrDiv{
    width: 200px;
    height: 230px;
    right: 100px;
    bottom: 100px;
    position: fixed;
}

.pad{
    padding: 0;
}

h1,h2,h3,h4,h5{
    text-align:center;
}

